body {
    background-image: url('waves/ron.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background-image 0.3s linear;
}

#image-box, #label-box {
    margin: 1em;
}

#prev-button, #next-button {
    margin: 0.5em;
}

.label-button {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;
    background-color: lightgray; 
    color: white; /* Text color */
    font-family: 'Press Start 2P', cursive; /* Font family */
    font-weight: bold; /* Font boldness */
}

#prev-button, #next-button {
    background: transparent;
    border: none;
    padding: 0; /* Remove padding */
}

#button-container {
    display: flex; /* Display the buttons side by side */
    justify-content: center; /* Center the buttons */
}
