body {
    background-image: url('waves/ron.png');
    background-size: 100% 100%; /* Stretch the image to exactly fill the width and height of the body */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background-image 0.3s linear;
}

#image-box, #text-box {
    margin: 1em;
}

#prev-button, #next-button {
    margin: 0.5em;
}
