body{
    background: #3399ff;
  }
  
  
  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }
  
  

.container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.container {
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
}

.container a, .pixel-button {
    display: inline-block;
    text-decoration: none;
    border: solid 3px #0f0;
    padding: 0.2em 1em;
    color: #0f0;
    transition: background-color 0.3s linear, color 0.3s linear;
}

.container a:hover, .pixel-button:hover {
    background-color: #0f0;
    color: #000;
}

.pixel-button {
    font-family: inherit;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    margin-top: 1em;
}
