@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #000;
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 60px),
                      radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 60px),
                      radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 60px);
    background-size: 1000px 1000px, 700px 700px, 500px 500px;
    background-position: 0 0, 40px 60px, 130px 270px;
    animation: stars 40s linear infinite;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    line-height: 1.5;
}

nav {
  background-color: #000;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #0f0;
  text-decoration: none;
}

h1 {
  font-size: 3em;
  color: #0f0;
  padding: 15px 0;
  text-align: center;
}

#about {
  background-color: #000;
  padding: 15px;
  color: #fff;
}

.about-text {
  background-color: #000;
  padding: 15px;
}

#showModal {
  display: block;
  background-color: #0f0;
  color: #000;
  border: none;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  transition: all 0.5s;
}

#showModal:hover {
  background-color: #fff;
  color: #000;
}

.control-button {
  background-color: #0f0;
  color: #000;
  border: none;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  transition: all 0.5s;
}

.control-button:hover {
  background-color: #fff;
  color: #000;
}

@keyframes stars {
    100% {
        background-position: 10000px 10000px, 4000px 4000px, 3000px 3000px;
    }
}
